@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ---------------common css start--------------------- */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

a:hover{
    color: var(--primary-color) !important;
}

img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #00c604;
    --secondry-color: #151b20;
    --white-color: #fff;
    --black-color: #0e1317;

    /* Text Color */

    --text-primary: #00c604;
    --text-secondry: #151b20;
    --text-white: #fff;
    --text-color: #cfd3d7;
    --text-gray: #000;
    
    /* font-family */
    --base-font: "Roboto", sans-serif;
    --heading-font: "Lobster Two", sans-serif;
}


html{
    scroll-behavior: smooth;
    font-family: var(--base-font);
    font-size: 100%;
    font-weight: 400;
}

body{
    font-family: var(--base-font);
    font-size: 100%;
    font-weight: 400;
}

::-webkit-scrollbar{
    width: .425rem;
}

::-webkit-scrollbar-track{
    background: var(--white-color);
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

h1{
    font-size: 4.375rem;
    font-weight: 900;
    margin-bottom: 3rem;
    font-family: var(--heading-font);
    color: var(--text-white);
    text-transform: capitalize;
}

h2{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: var(--heading-font);
    color: var(--text-white);
    text-transform: capitalize;
}

h4{
    font-size: 1.125rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    font-family: var(--heading-font);
    color: var(--text-secondry);
    text-transform: capitalize;
}

h5{
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: var(--heading-font);
    color: var(--text-primary);
    text-transform: capitalize;
}

p{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.0625rem;
}

.main-btn{
    padding: 0.625rem 1.875rem;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0 0.125rem 0.635rem -0.0625rem rgba(0 0 0/10%);
    transition: all 0.4s ease-out 0s;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--text-white);
}

.main-btn:hover{
    background-color: transparent;
    color: var(--text-primary);
}

.wrapper{
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.text-content{
    width: 70%;
    margin: 0 auto;
}

/* ---------------common css end--------------------- */



/* ---------------Navbar css start--------------------- */

.navigation-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
    background: transparent !important;
}

.navigation-wrap .navbar-brand img{
    width: 13rem;
}

.navigation-wrap .nav-item{
    padding: 0 0.624rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

.nav-link{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color) !important;
    letter-spacing: 0.0635rem;
}

.navigation-wrap .main-btn{
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.6625rem;
}

.navigation-wrap .scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--black-color);
    box-shadow: 0 0.125rem 1.75rem 0 rgba(0,0,0,0.09);
    transition: all 0.15s ease-in-out 0s;
}

/* ---------------Navbar css end--------------------- */




/* ---------------Banner css start--------------------- */
.banner{
    width: 100%;
    height: 100%;
    background: url(../images/bg/bg-1.jpg) no-repeat center;
    background-size: cover;
    padding: 14.875rem 0 5.375rem;

}




/* ---------------Banner css end--------------------- */












/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */

/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */
/* ---------------common css start--------------------- */

/* ---------------common css start--------------------- */